.field
  = f.label field.name, "#{position}. #{field.name}"
  = f.select field.name, options_from_collection_for_select(field.multiple_choice.options.order('position'), 'id', 'name', f.object.send(field.name)), {:include_blank => field.multiple_choice.include_blank?}, {:multiple => true}
