%h3
  Forms

%table
  %tr
    %th
      Name
    %th
      Actions

  - @forms.each do |form|
    %tr
      %td
        = form.name
      %td
        = link_to 'edit', edit_form_path(form)
        = link_to 'delete', form_path(form), :method => 'delete', :confirm => 'are you sure?'

%p
  = link_to 'Create New Form', new_form_path
